article {
    font-family: 'Lato', Helvetica, sans-serif;
    -webkit-hyphens: auto;
    hyphens: auto;
    position: absolute;
    color: black;
    /* background-color: white; */
    top: 8px;
    width: calc(100% - 44px);
    padding: 8px;
    overflow: hidden;
}


article h1:first-child {
    /* padding-top: 0px; */
    margin-top: 0px;
}

article h2:first-child {
    padding-top: 0px;
    margin-top: 0px;
}

p {
    text-align: justify;
    line-height: 1.25em;
}

a {
    text-decoration: none;
    color: #3366ff;
}

article>figure {
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    /*object-fit: cover; */
    max-width: 100%;
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    border: none;
}

figure figcaption {
    position: relative;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    padding-left: 36px;
    text-indent: -12px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
}

.collapsible:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    width: 12px;
    content: "\f054";
}

.collapsible.active,
.collapsible:hover {
    color: white;
    background-color: var(--highlight-color);
}

.collapsible.active:before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    width: 12px;
    content: "\f078";
}

.collapsibleContent {
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.question {
    font-weight: bold;
}

body {
    overflow: auto;
}