.drawer {
    padding-top: 16px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 0px;
    right: 0px;
    width: var(--drawer-width);
    height: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.drawerContent {
    flex: 1;
    background-color: red;

    display: flex;
    flex-direction: column;
    position: relative;
}

.scroll {
    height: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.simplebar-track {
    z-index: 10;
}
