:root {
    --red: rgb(204, 68, 68);
    --dark-red: rgb(184, 50, 50);
    --yellow: rgb(190, 147, 28);
    --green: rgb(89, 187, 33);
}

#error-window {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 300px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    /* border: 2px solid white; */
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    display: flex;
    flex-direction: column;

    z-index: 10000000000;
}

#error-window .list {
    flex: 1;
    overflow-y: auto;
    height: 0;

    transition: height 0.5s;
}

#error-window.expanded .list {
    flex: 1;
    overflow-y: auto;
    height: 320px;
    padding: 5px;
}
#error-window .list p {
    overflow: hidden;
}


.counter:not(:empty) {
    margin-left: auto;
    color: white;
    font-weight: bold;
    background-color: var(--red);
    
    box-sizing: border-box;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 20px;
    height: 20px;
    border-radius: 10px;
    
    border:1px solid var(--dark-red);
}

#error-window i {
    transition: transform 0.5s;
}

#error-window.expanded i {
    transform: rotate(180deg);
}

#error-window header {
    top: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 1;

    padding: 10px 20px;
    background: linear-gradient(to top, rgb(235, 235, 235), rgb(250, 250, 250));

    font-size: 0.8rem;
    display: flex;
    align-items: center;

    cursor: pointer;
}

#error-window h3 {
    font-size: 1em;
    font-weight: bold;

    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#error-window p {
    font-size: 0.8rem;
    text-align: left;
    padding: 5px 10px;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 3px;

    margin: 0;
    margin-bottom: 5px;

    cursor: pointer;
}

#error-window p.error {
    background-color: var(--red);
    border-color: var(--dark-red);
}

#error-window p.warn {
    background-color: var(--yellow);
}

#error-window p.fixed {
    background-color: var(--green);
}
