@import 'variables.css';

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -59px;

    height: 60px;

    z-index: 2000;

    display: flex;
    background-color: white;
}

footer nav {
    flex: 1;
    display: flex;
}

footer nav > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(26, 26, 26);

    font-family: var(--default-font-family);
    font-size: 24px;
}

.drawerFooter {
    /* display: none; */
}

.languages {
    position: absolute;
    top: -15px;
    right: 16px;
    display: flex;
    transform: translateY(-100%);
}

.footerMenuItem.active {
    color: var(--highlight-color);
}

.close-button {
    width: 44px;
    height: 44px;
}
