@import "variables.css";

circle {
    stroke: white;
    fill: transparent;
    stroke-width: 4px;
}

circle.inverted {
    stroke: black;
}


mask circle {
    stroke-width: 0;
    fill: white;
}

.addedImage {
    filter: invert(1);
}

.debugRect {
    stroke: red;
    fill: transparent;
    stroke-width: 8px;
}

.highlight {
    stroke: white;
    fill: transparent;
    stroke-width: 4;

}

circle {
    transition: stroke 0.3s, stroke-width 0.3s;
}

circle.expanded {
    stroke-width: 8;
    stroke: var(--highlight-color);
}

.overlayWrap {
    position: relative;
}

.overlayWrap svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

