.impressum {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 50px;
    padding-top: 0px;
    align-items: end;
    list-style-type: none;
    z-index: 10;
}

.impLogo {
    object-fit: contain;
    max-width: 100%;
    max-height: 140px;
    width: auto;
    height: auto;
    padding-bottom: 16px;
}

.impContainer {
    width: 100%;
    display: none;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: 10% 90%;
    grid-column-gap: 10px;
}

.gmbhContainer {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.museumContainer {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.iwmList {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.museumList {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

/*
.impActive .impContainer {
    display: grid;
} */

.impActive {
    backdrop-filter: blur(5px);
    z-index: 100000;
}

.impressum ul {
    padding: 0;
}
