* {
  box-sizing: border-box;
}

/************* LAYOUT *****************************/

.card {
  position: relative;
  font-family: 'MyriadRegular', sans-serif;
  font-size: 16px;
  overflow: hidden;
  color: black;
  background-color: white;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.preview {
  position: absolute;
  width: 100%;
  height: 70%;
  z-index: 1001;
  background-color: white;
  display: flex;
}

.preview p {
  margin: auto;
  text-align:center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.preview img {
   max-width: 80%;
   max-height: 80%;
}

.column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  /*align-content: flex-start;*/
  float: left;
}

.wide { width: 60%; }
.narrow { width: 40%; }

.short { max-height: 10%; overflow: hidden; }
#bottomcol{ width: 100%; }


.spacer {
  font-size: 0;
  height: 40px;
  line-height: 0;
  width: 100%;
}

/******************** CONTENT *****************************/

.titlebar {
  flex: 1 100%;
  height: 30%;
  display: flex;
}

.titlebar p {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

.text {
  font-weight: bold;
  line-height: 1.5;
  font-size: 20px;
}

h2 {
  font-size: 24px;
  text-align: left;
  /*margin: 0;*/
}

p {
  font-size: 23px;
  text-align: justify;
  margin-bottom: 0;
}

a {
  color: rgba(39, 109, 215, 0.77);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.text { 
  /*margin_ 20px;*/
  margin-left: 20px; 
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.imggroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.zoomed {
  position: absolute;
}

iframe {
    display:block;
}

/*************** IMG CONTENT ***********************/

figure {
  display: block;
  margin: 0 auto;
  /*margin-top: 5%;
  margin-bottom: 5%;*/
  background: white;
  position: relative;
  /*box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);*/
  border: 0px solid rgba(122, 0, 0, 0.05);
}

.singlefig { max-width: 100%; margin-top: 10px;}
.videofig { max-width: 100%; margin-top: 10px;}
.half { max-width: 100%; margin-top: 10px;}

article figure img {
  object-fit: cover;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  border: 10px solid rgba(122, 0, 0, 0.05);  
}

article  figure video {
  object-fit: cover;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  border: 10px solid rgba(122, 0, 0, 0.05);
}

article  figure .mainimg {
  /*width: 100%;*/
  display: block;
  overflow: hidden;
}

.ttimg {
  max-width: 100%;
}

.half {
  height: 100%;
  display: block;
  background: transparent;
  position: relative;
  margin-bottom: 50px;
}

.mainimgContainer {
  border: 10px solid rgba(122, 0, 0, 0.05);
}

figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 22px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 22px;
  font-size: 16px;
  font-weight: bold;
}

.zoomcap {
  display: none;
  overflow: hidden;
  background: white;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
}

.cap {
  width: 100%;
  height: 40px;
  min-width: 200px;
  margin-bottom: 30px;
}

.detail {
  opacity: 0.9;
  border-radius: 100%;
  border: 1px solid #FFFFFF;
  overflow: hidden;
  position: absolute;
  z-index: 70;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  /*transform: scale(1);*/
  transition: transform 250ms ease-in-out;
}

.zoomicon {
  bottom: -16px;
  right: -16px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  border: none;
}

.cardicon {
  bottom: 1px;
  right: 1px;
  z-index: 1001;
}
