/************* OVERWRITES FOR  *****************************/

body {
    font-family: 'Lato', Helvetica, sans-serif;
}

.mainview {
    font-family: 'Lato', Helvetica, sans-serif;
}

.mainCard {
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.thumbnail {
    max-width: 20%;
}

.card {
    font-family: 'Lato', Helvetica, sans-serif;
    border: 0px solid lightgrey;
    height: 320px;
    width: 30%;
    margin: 18px;
    /* box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5); */
}

.preview {
    height: 70%;
    padding-bottom: 10%;
}

.preview img {
    padding-top: 5%;
    max-width: 70%;
    max-height: 70%;
}

.preview p {
    hyphens: none;
}

header.mainHeader {
    width: 100%;
    margin-left: 4.25%;
    margin-right: 4%;
    height: 300px;
}

section.mainSection {
    font-weight: normal;
    width: 75%;
}

.mainview .mainContent {
    width: 93.5%;
    padding-top: 1%;
}

#leftcol {
    padding-left: 64px;
}

#rightcol {
    padding-right: 64px;
}

#bottomcol {
    padding-left: 64px;
    padding-right: 64px;
}

.back {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

p.title {
    margin: 0px;
    line-height: 32px;
    font-size: 32px;
}

p.description {
    font-size: 24px;
}

h2 {
    font-size: 28px;
    text-align: left;
}

p {
    font-size: 24px;
    text-align: justify;
    margin-bottom: 0;
}

.text {
    font-weight: normal;
}

.backBtn {
    padding: 0px;
    margin: 0px;
}

.closeBtn {
    transform-origin: top right;
    position: absolute;
    padding: 0px;
    right: 0px;
    top: 0px;
}

.infoBtn {
    transform-origin: bottom right;
    position: fixed;
    padding: 0px;
    right: 0%;
    bottom: 0%;
}

.zoomicon {
    bottom: 0px;
    right: 0px;
    width: 58px;
    height: 58px;
    cursor: pointer;
    position: absolute;
    border-radius: 0%;
    border: none;
    box-shadow: none;
}

.singlefig {
    max-width: 100%;
    margin-top: 40px;
}

.videofig {
    max-width: 100%;
    margin-top: 40px;
}

.half {
    max-width: 100%;
    margin-top: 40px;
}

.ZoomedFigure figcaption {
    margin-top: -3px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 22px;
}

figure img {
    object-fit: cover;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    border: none;
}

figure video {
    object-fit: cover;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    border: none;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}