@import "variables.css";

.menuitem {
	position:absolute; 
	width: 33%;
	text-align: center; 
    bottom: 10px;
    color: white;
    font-size: 24px;
}

.footerMenuitem {
	position:absolute; 
	width: 33%;
	text-align: center; 
    bottom: 10px;
    color: black;
    font-size: 24px;
}

.footerMenuitem.active {
    color: var(--highlight-color);
}
