
.popup {
    width: 800px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 400px;
    color: #191919;
    background-color: var(--popup-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-hyphens: auto;
    hyphens: auto;
}

.popup img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.popup img:not(:first-child) {
    margin-top: 20px;
}

.popup img:not(:last-child) {
    margin-bottom: 20px;
}

.popup .notch {
    width: 20px;
    height: 20px;
    border-color: var(--popup-color);
}

.popup p:first-child {
    margin-top: 0px;
}

.popup p:not(:last-child) {
    margin-bottom: 30px;
}

.popup-content {
    /*border: 1px solid red; */
    background-color: white;
    margin: 16px;
}

.popup .more {
    color: var(--highlight-color);
}
