html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* See http://stackoverflow.com/questions/9280258/prevent-body-scrolling-but-allow-overlay-scrolling */
    position: fixed;
    overflow: hidden;
    background: #444;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: auto;
    user-select: none;
    touch-action: manipulation;
}

main {
    height: 100%;
}

.site {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.interactive {
    /*** For regions observed by InteraktionDelegates and -Mappers ***/
    -ms-content-zooming: none;
    touch-action: none;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#startOverlay {
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100000;
    width: 100%;
    height: 100%;
}

#loadingBar {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    left: 0px;
    top: 47%;
    width: 1%;
    height: 6%;
}
