.hint {
    height: 36px;
    color: white;
}

.hide {
	opacity: 0;
}

input.slider {
	z-index: 100000;
}

input[type=range]
{
    -webkit-appearance: none;
	appearance: none;
	border-radius: 4px;
	width: 100%;
	height: 32px;
	margin: 16px;

	border-color: transparent;
	border-style: solid;
	border-width: 0px;
	background: transparent;
}

input[type=range]:focus { outline: none; }

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
	height: 24px;
	width: 24px;
	margin-top: -12px;
	border-radius: 50%;
	background: white;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}


/* All the same stuff for Firefox */
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: white;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
	height: 24px;
	width: 24px;
    border-radius: 50%;
    background: white;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
	outline: 1px solid rgba(0, 0, 0, 0);
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: white;
}

/* All the same stuff for IE */
input[type=range]::-ms-track
{
	width: 100%;
	height: 5px;
	/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	background: transparent;
	/*leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 6px 0;
	/*remove default tick marks*/
	color: transparent;
}

input[type=range]::-ms-tooltip {
    display: none;
}

input[type=range]::-ms-fill-lower
{
	background: white;
	border-radius: 10px;
}

input[type=range]::-ms-fill-upper
{
	background: white;
	border-radius: 10px;
}

input[type=range]::-ms-thumb
{
	border: none;
	height: 24px;
	width: 24px;
	margin: 0px;
	border-radius: 50%;
	background: white;
}

input[type=range]:focus::-ms-fill-lower { background: white; }
input[type=range]:focus::-ms-fill-upper { background: white; }

.filter {
	-webkit-backdrop-filter: blur(5px);
	/* Safari 9+ */
	backdrop-filter: blur(5px);
	/* Chrome and Opera */
	background-color: rgba(0, 0, 0, 0.5);
}