</html>

<head>

    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="css/overlay.css">
    <link rel="stylesheet" href="css/composition.css">

    <link rel="stylesheet" href="css/slider.css">
    <script src="https://kit.fontawesome.com/0cb0b7afd9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            background-color: gray;
            height: 100%;
            width: 100%;
            overflow: hidden;

            font-family: "Lato", serif;
        }

        .cardWrapper {
            position: absolute;
            top: 20px;
            left: 20px;
            transform: scale(0.75);
        }
    </style>
</head>

<body>
    <div class="cardWrapper">
        <section class="front">
            <div class="imageWrapper">

                <div class="titleWrapper">
                    <p class="title">Template Card Title</p>
                </div>
                <div class="composition">

                    <figure class="slideFigure">

                    </figure>
                    <div class="sliderBase">
                        <div class="sliderInfo">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.!</p>

                        </div>
                        <div class="slider">

                            <div class="sliderTrack">

                                <div class="sliderTrackBackground"></div>
                                <div class="sliderTrackActive"></div>
                                <div class="sliderTrackBorder"></div>
                                <div class="sliderThumb">

                                </div>
                            </div>
                            <input type="range" name="" id="">
                        </div>



                    </div>

                </div>
                <div class="overlay">
                    <svg class="overlayHighlight" preserveAspectRatio="xMidYMid slice">

                    </svg>
                </div>
                <div class="languages">
                    <div class="language de active" onclick="ObersalzbergCard.changeLanguageByEvent(event, 'de')">DE
                    </div>
                    <div class="language en" onclick="ObersalzbergCard.changeLanguageByEvent(event, 'en')">EN</div>
                </div>
            </div>
            <footer class="frontFooter">
                <nav>
                    <div class="button slider" data-localizable data-lang-en="Composition" data-lang-de="Bildaufbau">
                        Bildaufbau</div>
                    <div class="button details" data-localizable data-lang-en="Details" data-lang-de="Details">Details
                    </div>
                    <div class="button background" data-localizable data-lang-en="Background"
                        data-lang-de="Hintergründe">Hintergründe</div>
                </nav>
            </footer>
        </section>
        <section class="drawer">
            <div class="drawerContent">
                <div class="scroll">
                    <section class="background">

                    </section>
                    <section class="details">
                    </section>
                </div>
            </div>
            <footer class="drawerFooter">
                <div class="button close-button big-button" style="padding-right: 0px; padding-top: 5px;">
                 <!-- uo:   <i class="fas fa-times fa-lg"></i>  --> 
                    <img src="icons/close.svg"> 
                </div>
            </footer>
        </section>

        <section class="debug">
            <h3>Debug</h3>
        </section>
    </div>
</body>

<script>

    let card = document.querySelector(".cardWrapper")
    card.setAttribute("data-mode", "none")
    let buttons = card.querySelectorAll(".button")


    let startMode = "slider"

    let modes = {
        details: ".overlayHighlight",
        slider: ".composition"
    }

    for (let [mode, selector] of Object.entries(modes)) {
        if (mode != startMode) {
            document.querySelector(selector).style.display = "none"
        }
    }


    card.querySelector(".slideFigure").innerHTML = `<img src="../../var/cards/01/original.png">`
    card.querySelector(".overlayHighlight").innerHTML = `<defs>
    </defs>
    <image href="../../var/cards/01/original.png" x="0" y="0" preserveAspectRatio="xMidYMid slice"></image>
    <g>
        <circle class="mann" cx="82%" cy="16%" r="9%" xlink:href="details.html"
            onclick="Details.highlight(event, '.manipulation', '.mann')">
        </circle>
        <circle cx="53%" cy="30%" r="14%" xlink:href="details.html"
            onclick="Details.highlight(event, '.manipulation', '.blumenstrauss')">
        </circle>
        <circle cx="53%" cy="90%" r="8%" xlink:href="details.html"
            onclick="Details.highlight(event, '.manipulation', '.fuss')">
        </circle>
        <circle class="koepfe" cx="52%" cy="10%" r="6%" xlink:href="details.html"
            onclick="Details.highlight(event, '.manipulation', '.koepfe')">
        </circle>
        <circle class="flagge" cx="95%" cy="15%" r="6%" xlink:href="details.html"
            onclick="Details.highlight(event, '.manipulation', '.flagge')">
        </circle> 

    <!-- ikonographie -->
       <circle class="blicke" cx="73%" cy="44%" r="8%" xlink:href="details.html"
            onclick="Details.highlight(event, '.blicke')">
        </circle>

        <circle class="flagge" cx="75%" cy="56%" r="8%" xlink:href="details.html"
            onclick="Details.highlight(event, '.hand')">
        </circle>-->

    </g> `


    function loadFile(url) {
        return new Promise((resolve, reject) => {
            console.log("LOAD FILE", url)
            let xhr = new XMLHttpRequest()

            setTimeout(() => {
                reject(`Loading File timed out: ${url}.`)
            }, 1000)

            xhr.addEventListener("readystatechange", (event) => {
                if (xhr.readyState == 4) {
                    if (xhr.responseText) {

                        try {
                            let parser = new DOMParser()
                            let html = parser.parseFromString(xhr.responseText, "text/html")
                            let article = html.querySelector("article")
                            if (article)
                                resolve(article)
                            else reject("Was not valid HTML.")
                        } catch (e) {
                            reject(e)
                        }
                    } else reject("Could not load file.")
                }
            })

            xhr.open("GET", url)
            xhr.send()

        })
    }



    let hintergrund = document.querySelector("section.background")
    let p1 = loadFile("../../var/cards/01/hintergrund.html").then((html) => {
        hintergrund.innerHTML = ""
        hintergrund.appendChild(html)
    }).catch(console.error)



    let details = document.querySelector("section.details")
    let p2 = loadFile("../../var/cards/01/details.html").then((html) => {
        details.innerHTML = ""
        details.appendChild(html)
    }).catch(console.error)

    Promise.all([p1, p2]).then(() => {

        document.querySelectorAll(".collapsible").forEach(collapsible => {
            collapsible.addEventListener("click", function () {
                let content = collapsible.nextElementSibling
                let style = window.getComputedStyle(content)
                if (!content.getAttribute("style"))
                    content.setAttribute("style", "")
                content.style.maxHeight = (content.scrollHeight > content.offsetHeight) ? content.scrollHeight + "px" : 0
                console.dir(content.scrollHeight)


            })
        })
    })


    Array.from(buttons).forEach(button => {
        button.addEventListener("click", () => {

            let mode = card.getAttribute("data-mode")
            let requestedMode = button.innerText.toLowerCase()

            if (["details", "hintergrund"].indexOf(requestedMode) == -1)
                requestedMode = "none"


            if (mode == requestedMode || requestedMode == "none") {
                buttons.forEach(btn => { btn.classList.remove("active") })
                card.classList.remove("expanded")
                card.setAttribute("data-mode", "none")
            } else {
                buttons.forEach(btn => {
                    if (btn === button) {
                        btn.classList.add("active")
                        btn.classList.add("test")

                    } else {
                        btn.classList.remove("active")
                    }
                })
                card.classList.add("expanded")
                card.setAttribute("data-mode", requestedMode)

            }


            switch (requestedMode) {
                case "hintergrund":
                    hintergrund.style.display = "block"
                    details.style.display = "none"
                    break;

                case "details":
                    hintergrund.style.display = "none"
                    details.style.display = "block"
                    break;
            }

        })
    })


    let rangeInput = document.querySelector("input[type=range]")

    let background = document.querySelector(".sliderTrackActive")
    let thumb = document.querySelector(".sliderThumb")


    rangeInput.addEventListener("input", (event) => {
        updateSlider(event.currentTarget.value)
    })

    rangeInput.value = 0

    function updateSlider(value) {
        let val = parseInt(value) + "%"

        background.style.width = val
        thumb.style.left = val
    }






</script>

</html>