.drawerContent section {
    padding-right: var(--content-padding);
    padding-left: var(--content-padding);
}

section > article {
    position: relative;
    padding: 10px;
    padding-right: 20px;
    user-select: none;
}

section > article img {
    max-width: 100%;
    display: block;
    margin: auto;

    object-fit: contain;
}

section > article figure {
    padding: 0;
    margin: 0;
}

section > article figcaption {
    text-align: center;
    font-size: var(--article-font-size);
    /* uo: disabled for test font-style: italic; */
    line-height: var(--article-line-height);
    padding: 15px 0;
}

section > article {
    margin-bottom: 50%;
}

section > article p:first-child {
    margin-top: 0;
}

section > article p,
section > article h2 {
    font-size: var(--article-font-size);
    line-height: var(--article-line-height);
}

.collapsible {
    position: relative;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    cursor: pointer;
    padding: 18px;
    padding-left: 50px;
    /* text-indent: -12px; */
    z-index: 2;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    border: var(--card-border-style);
}

.collapsible:before {
    position: absolute;
    top: 18px;
    left: 20px;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    width: 12px;
    content: '\f054';
}

.collapsible.active {
    color: var(--card-color);
    background-color: var(--primary-color);
}

.collapsible.active:before {
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    width: 12px;
    content: '\f078';
}

.collapsibleContent {
    max-height: 0px;
    overflow: hidden;
    margin: 0 20px;
}

section > article .overlayWrap {
    position: relative;
}

/* Popups on articles */

section > article svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section > article a {
    color: var(--primary-color);
    text-decoration: none;
}
