.composition {
    top:0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.composition .slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.composition .sliderBase {
    position: absolute;
/* 
    display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.composition .slideFigure{
    height: 100%;
    margin: 0;
}

.composition .slideFigure > *{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.composition .sliderInfo {
    font-size: 30px;
    flex: 1;
    height: 150px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.composition .sliderInfo p {
    text-align: center;
}
