.debug {
    padding: 20px;
    background-color: var(--card-color);
    display: none;
    
}

.debug span {
    font-size: 1.3em;
}

.debug span:first-child{
    font-weight: bold;
    margin-right: 20px;       
}