.cardWrapper.expanded .drawer {
    pointer-events: all;
    visibility: visible;
    transform: translateX(calc(100% - var(--card-border-width-overlap)));
    max-width: var(--drawer-width);
    min-width: var(--drawer-width);
    box-shadow: var(--card-box-shadow);
    transition: transform 0.5s, max-width 0.5s, min-width 0s 0.1s,
        box-shadow 0.25s, visibility 0.5s;
}

.cardWrapper .drawer {
    transform: translateX(var(--card-border-width));
    background-color: var(--card-color);
    width: var(--drawer-width);
    border-top: var(--card-border-style);
    border-right: var(--card-border-style);
    border-bottom: var(--card-border-style);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    z-index: -1;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 100%;
    min-width: 66%;
    transition: transform 0.5s, max-width 0.5s, min-width 0s 0.2s,
        box-shadow 0.25s, visibility 0.5s;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.drawerContent {
    position: relative;
    margin-left: var(--card-border-width);
    padding: var(--card-padding) var(--card-padding) 0 0;

    flex: 1;
    box-sizing: border-box;
    background-color: var(--content-color);
    box-shadow: inset 1px 2px 15px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.drawerContent:before,
.drawerContent:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    z-index: 1;
}

/* .drawerContent:before {
    
    height: 30px;
    background: linear-gradient(to bottom, var(--card-color) var(--content-padding), transparent);
    z-index: 1;
    top: 0;
} */

.drawerContent:after {
    height: 5px;

    /* background: linear-gradient(to top, var(--card-color), transparent); */
    /* height: 50px; */
    bottom: 0;
    z-index: 3;
}

.scroll {
    height: 0;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.scroll,
.simplebar-content-wrapper {
    /* 
    This prevents unintended pointercancel events, 
    which interfere with the scatter. 
    */
    touch-action: none;
}

.simplebar-track {
    z-index: 10;
}
