footer {
    position: relative;
    height: var(--footer-height);
    font-size: var(--article-font-size);
    display: flex;
    flex-shrink: 0;
}

footer nav {
    display: flex;
    flex: 1;
}

footer.drawerFooter {
    right: 0;
    justify-content: flex-end;
}

.cardWrapper.useTabs footer.drawerFooter {
    position: absolute;
    bottom: calc(var(--tab-position-bottom));
    background-color: var(--card-color);
    border: var(--card-border-style);
    border-top: 0;
    box-sizing: border-box;
}

.cardWrapper .frontFooter {
    z-index: 100;
}

.cardWrapper.useTabs footer.frontFooter {
    position: absolute;
    bottom: calc(var(--tab-position-bottom) - var(--card-padding));
    width: 100%;
    left: -10px;
}

footer nav > * {
    flex: 1;
}

footer nav > *:not(:last-child) {
    border-right: none;
    margin-right: 2px;
}

.cardWrapper.useTabs footer nav > * {
    border-top: none;
    border-right: var(--card-border-style);

    border: var(--card-border-style);
    background-color: rgb(219, 219, 219);
    color: rgb(53, 53, 53);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* footer nav > .button{
    border-right: 1px solid #dadada;
} */

footer nav > .button.active {
    color: var(--primary-color);
}

.big-button {
    width: 44px;
    height: 44px;
}
