@import "variables.css";
@import "drawer.css";
@import "debug.css";
@import "article.css";
@import "footer.css";
@import "popup.css";

html {
    font-family: "Lato";
}


.hidden {
    display: none !important;
}

.button {
    user-select: none;
    cursor: pointer;

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    /* font-weight: bold; */
}

.button * {
    user-select: none;
    pointer-events: none;
}

.imageWrapper {
    position: relative;
    background-color: var(--black);
    margin: var(--card-padding);
    margin-bottom: 0;
    overflow: hidden;
    flex: 1;
}

.front .imageWrapper > img {
    width: 100%;
    height: 100%;
    /* object-fit: contain;
    object-position: left top; */
}

.imageFrame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: var(--card-padding) solid var(--card-color);
    pointer-events: none;
}

.imageBorder {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;

    border: var(--card-border-style);
}

.languages {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    display: flex;
    z-index: 10000;
}

.language {
    font-weight: bold;
    font-size: 22px;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.language.active {
    background-color: var(--primary-color);
    color: white;
}

.cardWrapper {
    box-shadow: var(--card-box-shadow);
}

.cardWrapper.scatter * {
    user-select: none;
}

.cardWrapper .front {
    /* box-sizing: border-box; */

    background-color: var(--card-color);

    border-bottom: var(--card-border-style);
    border-top: var(--card-border-style);
    border-left: var(--card-border-style);
}

.cardWrapper .titleWrapper{
    pointer-events: none;
}

.cardWrapper.language-on-touch .languages,
.cardWrapper.menu-on-touch .frontFooter,
.cardWrapper .titleWrapper{
    transition: opacity 0.5s;
}

.cardWrapper.language-on-touch .languages,
.cardWrapper.menu-on-touch .frontFooter,
.cardWrapper.title-on-touch .titleWrapper{
    opacity: 0;
}

.cardWrapper.language-on-touch.touched .languages,
.cardWrapper.menu-on-touch.touched .frontFooter,
.cardWrapper.title-on-touch.touched .titleWrapper{
    opacity: 1;
}

.cardWrapper.language-on-touch:not([data-mode=none]) .languages,
.cardWrapper.menu-on-touch:not([data-mode=none]) .frontFooter,
.cardWrapper.title-on-touch:not([data-mode=none]) .titleWrapper,
.cardWrapper:not([data-mode=none]) .titleWrapper{
    opacity: 0;
}

.front {
    position: relative;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.title {
    text-align: center;

    min-width: 100%;
    width: 0;

    margin: 0px -10px;
    padding: 10px;
}


.compositing,
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.titleWrapper {
    position: absolute;
    z-index: 10000;
    bottom: 0;
    right:0;
    width: 100%;
    padding: calc(2* var(--spacing));
    
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    /* color: white; */
}

p {
    
    -webkit-font-smoothing: antialiased;
}

figure img {
    max-width: 100%;
}