
.overlay svg {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay g {
    left: 0;
    top: 0;
}

.overlay image {
    /* display: block; */
    width: 100%;
    position: absolute;
    top:0;
    bottom:0;
}

mask circle{
    fill: white;
}

circle {
    fill: transparent;
    stroke: var(--card-color);
    transition: all 0.5s;
}

circle.inverted {
    stroke: var(--black);
}

circle.expanded {
    stroke-width: 10px;
    stroke: var(--primary-color);
}


.overlayWrap circle {
    stroke-width: 10px;
    stroke: var(--primary-color);
}