@import 'variables.css';

:root {
    --popup-color: whitesmoke;
    --popup-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    --nozzle-size: 20px;
}

.popup {
    z-index: 100;
    min-width: 480px; /* uo: former 1080 to wide */
    transform: translate(-50%, calc(-100% - 20px));

    font-size: var(--article-font-size);
    line-height: var(--article-line-height);

    user-select: none;
}

.popup figure {
    margin: 0;
}

.popup-content {
    padding: 20px 30px;

    box-shadow: var(--popup-shadow);
    background-color: var(--popup-color);
}

.popup::before {
    position: absolute;
    left: 50%;
    bottom: 0;

    content: '';
    width: var(--nozzle-size);
    height: var(--nozzle-size);
    background-color: var(--popup-color);

    transform: translate(-50%, 50%) rotate(45deg);
}

.popup::after {
    z-index: -1;
    position: absolute;
    left: 50%;
    bottom: 0;

    content: '';
    width: var(--nozzle-size);
    height: var(--nozzle-size);

    box-shadow: var(--popup-shadow);

    transform: translate(-50%, 50%) rotate(45deg);
}

.popup .close-btn {
    user-select: none;
    cursor: pointer;
}

.close-icon {
    position: relative;
}

.close-icon:before,
.close-icon:after {
    position: absolute;
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background-color: var(--black);
}

.close-icon:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-icon:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.popup .close-btn {
    position: absolute;

    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    padding: 10px;
    /* background-color: red; */
}

.popup video {
    max-width: 100%;
}

.popup article {
    width: 840px;
}

.popup .article-small {
    width: 480px;
}
