.sliderBase .slider {
    position: relative;
    height: 30px;
    padding: 30px 0;
    width: 100%;
}

.sliderBase .slider input[type="range"] {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;

    height: 100%;
    width: 100%;

    -webkit-appearance: none;
    opacity: 0;

    z-index: 10000;

}

.sliderBase .slider input[type="range"]::-webkit-slider-runnable-track {
    height: 100%;
    width: 100%;
}

.sliderBase .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 100%;
    width: 15px;
    border: 1px solid black;
    background: gray;
}

input[type="range"]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.sliderBase .sliderTrack {
    position: absolute;
    pointer-events: none;

    left: 10px;
    right: 10px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.sliderBase .sliderTrackBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: white;

    border-radius: 3px;
}

.sliderBase .sliderTrackActive {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;

    background-color: var(--primary-color);

    border-radius: 3px;
}

.sliderBase .sliderTrackBorder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 3px;
}

.sliderBase .sliderThumb {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 50%;

    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    background-color: whitesmoke;
    box-sizing: border-box;
    border: var(--card-border-style);
}
