:root {
    --primary-color: rgb(51, 102, 255);

    --white: whitesmoke;
    --light-gray: #eee;
    --gray: #b5b5b5;
    --dark-gray: #444;
    --black: rgb(25, 25, 25);

    --card-color:  var(--white);

    /* Padding value needs to be adjusted in the card.js create function to work properly.*/

    --spacing: 10px;
    --card-padding: var(--spacing);

    --card-border-width: 0px;
    --card-border-width-overlap: calc(var(--card-border-width) + 1px);
    --card-border-color:  #b5b5b5 ;

    --card-border-style: var(--card-border-width) solid var(--card-border-color);
    --card-box-shadow:  1px 2px 15px rgba(0,0,0,0.5);

    --drawer-width: 720px;
    --footer-height: 50px;

    --tab-position-bottom: calc(-1 * (var(--footer-height)));

    
    --content-color: var(--card-color);
    --content-padding: 15px;

    --article-line-height: 1.6em;

    --article-font-size: 22px;

}
